<!DOCTYPE html>
<html>
    <head>
        <title>로그인</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="header">
            <div><a href="/">메인 페이지로</a></div> 
            <div><h1>로그인 페이지</h1></div>
        </div>
        <div>
            <form action="/login" method="post">
                <p><input type='text' name='userid' placeholder="userid"></p>
                <p><input type='password' name='password' placeholder="password"></p>
                <p><input type='submit' value='Login'></p>
            </form>
            <div>
                {{ msg }} 
                {%if not isNameExisted %}
                    <input type="button" onclick="location.href='/join'" value="회원가입">
                {% endif %}  
            </div>
        <div>
    </body>
</html>